--
-- PostgreSQL database dump
--

\restrict TUtMCONFeNpqK7urFNLS0mYMpVhMiWu0Q29IBrgW0hCAXkNymP5cbKErTTXamGg

-- Dumped from database version 17.11 (Debian 17.11-1.pgdg13+2)
-- Dumped by pg_dump version 17.11 (Debian 17.11-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bolum; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.bolum (
    id integer NOT NULL,
    ad character varying(50) NOT NULL
);


ALTER TABLE public.bolum OWNER TO myuser;

--
-- Name: bolum_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.bolum_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bolum_id_seq OWNER TO myuser;

--
-- Name: bolum_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.bolum_id_seq OWNED BY public.bolum.id;


--
-- Name: ders; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.ders (
    id integer NOT NULL,
    ad character varying(100) NOT NULL,
    kredi integer,
    bolum_id integer
);


ALTER TABLE public.ders OWNER TO myuser;

--
-- Name: ders_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.ders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ders_id_seq OWNER TO myuser;

--
-- Name: ders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.ders_id_seq OWNED BY public.ders.id;


--
-- Name: kayit; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.kayit (
    ogrenci_id integer NOT NULL,
    ders_id integer NOT NULL,
    notu integer,
    donem character varying(25)
);


ALTER TABLE public.kayit OWNER TO myuser;

--
-- Name: ogrenci; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.ogrenci (
    identify integer NOT NULL,
    ad character varying(50),
    not_ort numeric(4,2)
);


ALTER TABLE public.ogrenci OWNER TO myuser;

--
-- Name: ogrenci_identify_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.ogrenci_identify_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ogrenci_identify_seq OWNER TO myuser;

--
-- Name: ogrenci_identify_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.ogrenci_identify_seq OWNED BY public.ogrenci.identify;


--
-- Name: bolum id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.bolum ALTER COLUMN id SET DEFAULT nextval('public.bolum_id_seq'::regclass);


--
-- Name: ders id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.ders ALTER COLUMN id SET DEFAULT nextval('public.ders_id_seq'::regclass);


--
-- Name: ogrenci identify; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.ogrenci ALTER COLUMN identify SET DEFAULT nextval('public.ogrenci_identify_seq'::regclass);


--
-- Data for Name: bolum; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.bolum (id, ad) FROM stdin;
1	┼Şanss─▒zl─▒k M├╝hendisli─şi
2	Dedikodu Bilimleri ve Stratejik F─▒s─▒lt─▒
3	Uykusuzluk ve Gece 3 Mesajlar─▒ Anabilim Dal─▒
4	Fast Food Felsefesi ve Ket├ğap Y├Ânetimi
\.


--
-- Data for Name: ders; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.ders (id, ad, kredi, bolum_id) FROM stdin;
1	Kopya ├çekme Teknikleri 101	4	1
2	A├ğ─▒k Unutulan Musluklar─▒ Kapatma Sanat─▒	3	1
3	Yan Masadakinin Konu┼şmas─▒n─▒ Dinleme ve Raporlama	5	2
4	Sabah 8.00 Dersine Gidiyormu┼ş Gibi G├Âr├╝nme	2	3
5	Ket├ğap ve Mayonez D├Âk├╝lme Risk Analizi	4	4
6	Sosyal Medyada Eski Sevgilinin Profilini ─░nceleme	3	2
\.


--
-- Data for Name: kayit; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.kayit (ogrenci_id, ders_id, notu, donem) FROM stdin;
1	1	45	2025-G├╝z
1	2	70	2025-G├╝z
2	3	90	2025-G├╝z
3	4	15	2026-Bahar
4	5	88	2026-Bahar
5	1	50	2025-G├╝z
6	5	30	2026-Bahar
7	6	95	2026-Bahar
8	2	62	2025-G├╝z
\.


--
-- Data for Name: ogrenci; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.ogrenci (identify, ad, not_ort) FROM stdin;
1	Z─▒p─▒rcan	68.30
2	C─▒rc─▒rb├Âce─şi Cemal	42.10
3	P─▒rtlayan P─▒nar	12.50
4	Makyajl─▒ Muhtar	88.90
5	├çoraps─▒z ├çetin	50.00
6	Tost├ğu Tayfun	31.80
7	Biberli Bedriye	74.20
8	Hap┼ş─▒ran Hikmet	61.70
\.


--
-- Name: bolum_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.bolum_id_seq', 1, false);


--
-- Name: ders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.ders_id_seq', 6, true);


--
-- Name: ogrenci_identify_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.ogrenci_identify_seq', 8, true);


--
-- Name: bolum bolum_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.bolum
    ADD CONSTRAINT bolum_pkey PRIMARY KEY (id);


--
-- Name: ders ders_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.ders
    ADD CONSTRAINT ders_pkey PRIMARY KEY (id);


--
-- Name: kayit kayit_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.kayit
    ADD CONSTRAINT kayit_pkey PRIMARY KEY (ogrenci_id, ders_id);


--
-- Name: ogrenci ogrenci_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.ogrenci
    ADD CONSTRAINT ogrenci_pkey PRIMARY KEY (identify);


--
-- Name: ders ders_bolum_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.ders
    ADD CONSTRAINT ders_bolum_id_fkey FOREIGN KEY (bolum_id) REFERENCES public.bolum(id);


--
-- Name: kayit kayit_ders_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.kayit
    ADD CONSTRAINT kayit_ders_id_fkey FOREIGN KEY (ders_id) REFERENCES public.ders(id) ON DELETE CASCADE;


--
-- Name: kayit kayit_ogrenci_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.kayit
    ADD CONSTRAINT kayit_ogrenci_id_fkey FOREIGN KEY (ogrenci_id) REFERENCES public.ogrenci(identify) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict TUtMCONFeNpqK7urFNLS0mYMpVhMiWu0Q29IBrgW0hCAXkNymP5cbKErTTXamGg

